<button type="button" class="btn d-flex align-items-center mx-n1 mt-3" (click)="goBack()">
  <i class="bi bi-arrow-left fs-4 me-2"></i>
  <span>Sekcije</span>
</button>

<div class="container-fluid mt-2 pb-3">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row mb-3">
      <div class="col-12 col-lg-6 d-flex flex-column flex-grow-1">
        <h4 class="mb-3">Vprašanje</h4>
        <div class="mb-3">
          <label for="questionTitle" class="form-label">Naslov</label>
          <input
            type="text"
            class="form-control"
            id="questionTitle"
            formControlName="title"
            [class.is-invalid]="form.get('title')?.touched && form.get('title')?.invalid"
          >
          <div class="invalid-feedback">Naslov je obvezen.</div>
        </div>
        <div class="flex-grow-1 mb-5 mb-lg-0">
          <label for="questionDescription" class="form-label">Opis</label>
          <span id="questionDescriptionHelp" class="form-text ms-1">(opcijsko)</span>
          <textarea
            class="form-control"
            id="questionDescription"
            formControlName="description"
            rows="4"
            aria-describedby="questionDescriptionHelp"
            style="height: calc(100% - 33.188px) !important;"
          ></textarea>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <h4 class="mb-3">Odgovor</h4>
        <div class="mb-3">
          <label class="form-label">Tip odgovora</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="singleChoice"
              id="singleChoiceRadio"
              formControlName="type"
              [class.is-invalid]="form.get('type')?.invalid"
              required
            >
            <label class="form-check-label" for="singleChoiceRadio">
              Odgovor z eno izbiro
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="multipleChoice"
              id="multipleChoiceRadio"
              formControlName="type"
              [class.is-invalid]="form.get('type')?.invalid"
              required
            >
            <label class="form-check-label" for="multipleChoiceRadio">
              Odgovor z več izbirami
            </label>
            <div class="invalid-feedback">Izberite tip odgovora.</div>
          </div>
        </div>
        <div>
          <label class="form-label">Možni odgovori</label>
          <ul class="list-group">
            <li
              *ngFor="let answer of answersSorted; let i = index"
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <span *ngIf="answer.get('text')?.value as text">{{ text }}</span>
              <span *ngIf="!answer.get('text')?.value" class="text-muted">Brez besedila</span>

              <div class="d-flex flex-nowrap">
                <img *ngIf="imagesMap.has(answer.get('id')?.value)" [src]="imagesMap.get(answer.get('id')?.value)"
                     class="rounded mx-1" alt="" style="height: 30px; width: 30px; object-fit: cover;">
                <button
                  type="button"
                  class="btn px-1 py-0"
                  (click)="editAnswer(i)"
                  placement="auto"
                  ngbTooltip="Uredi odgovor"
                  [openDelay]="800"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  type="button"
                  class="btn px-1 py-0"
                  (click)="removeAnswer(i)"
                  placement="auto"
                  ngbTooltip="Odstrani odgovor"
                  [openDelay]="800"
                >
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center new-answer"
                (click)="addAnswer()"
                placement="bottom"
                ngbTooltip="Dodaj odgovor"
                [openDelay]="1000"
                [class.is-invalid]="!loadingAnswers && form.get('answers')?.invalid"
            >
              <i class="bi bi-plus-lg text-muted"></i>
            </li>
          </ul>
          <div *ngIf="!loadingAnswers" [class.d-block]="form.get('answers')?.invalid" class="invalid-feedback">Dodajte vsaj en odgovor.</div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap flex-grow-1 align-items-center gap-2">
      <button *ngIf="!!questionId" type="button" class="btn btn-danger" (click)="delete()">Izbriši</button>

      <div class="flex-grow-1"></div>

      <button
        *ngIf="!!questionId"
        type="button"
        class="btn px-1 py-0 fs-4"
        [routerLink]="['/public', 'question', questionId]"
        placement="top"
        ngbTooltip="Pojdi na vprašanje"
      >
        <i class="bi bi-ui-checks-grid"></i>
      </button>
      <button
        *ngIf="!!questionId"
        type="button"
        class="btn px-1 py-0 fs-4"
        routerLink="./statistics"
        placement="top"
        ngbTooltip="Prikaži statistiko"
      >
        <i class="bi bi-bar-chart-line"></i>
      </button>
      <button
        *ngIf="!!questionId"
        type="button"
        class="btn px-1 py-0 fs-4"
        routerLink="./code"
        placement="top"
        ngbTooltip="Prikaži QR kodo"
      >
        <i class="bi bi-qr-code"></i>
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid || !form.dirty || uploading">
        <span *ngIf="uploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ !!questionId ? 'Shrani' : 'Ustvari' }}
      </button>
    </div>
  </form>
</div>

<app-answer-edit-modal #answerEditModal></app-answer-edit-modal>
<app-confirm-modal #deleteQuestionModal [modalConfig]="deleteQuestionModalConfig"></app-confirm-modal>
<app-confirm-modal #deleteAnswerModal [modalConfig]="deleteAnswerModalConfig"></app-confirm-modal>
