.container-fluid {
  background-color: #EAECEF;
  min-height: 100vh;
}
.logo {
  height: 100%;
  width: clamp(5rem, 30vw, 9rem);
}
.answer-image {
  height: 100%;
  width: clamp(5rem, 30vw, 9rem);
  object-fit: cover;
}

@media (max-width: 300px) {
  img {
    margin-bottom: 1rem;
  }
}
