<button type="button" class="btn d-flex align-items-center mx-n1 mt-3" (click)="goBack()">
  <i class="bi bi-arrow-left fs-4 me-2"></i>
  <span>Nazaj</span>
</button>

<div class="container-fluid pt-5 pb-1">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xxl-4 d-flex flex-column justify-content-center align-items-center">
      <h4 class="text-center">{{question?.title}}</h4>
      <p *ngIf="question?.description as description" class="text-muted text-center mb-0">{{description}}</p>
      <qrcode [title]="question?.title" [qrdata]="url" (qrCodeURL)="onChangeURL($event)" [width]="qrSize" [errorCorrectionLevel]="'M'"></qrcode>
      <div class="row align-self-stretch">
        <div class="col-12 col-md-6 mb-2">
          <a [routerLink]="['/public', 'question', id]" class="btn btn-secondary d-flex flex-grow-1 justify-content-center align-items-center">
            <i class="bi bi-arrow-right me-2"></i>
            <span>Obišči</span>
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a [href]="qrCodeDownloadLink" download="qrcode" class="btn btn-primary d-flex flex-grow-1 justify-content-center align-items-center">
            <i class="bi bi-download me-2"></i>
            <span>Prenesi</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

