<button type="button" class="btn d-flex align-items-center mx-n1 mt-3" (click)="goBack()">
  <i class="bi bi-arrow-left fs-4 me-2"></i>
  <span>Sekcije</span>
</button>

<div class="container-fluid mt-2 pb-3">
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="row mb-3">
<!--  TODO: remove if not needed    col-12 col-md-10 col-lg-8 col-xxl-6 -->
      <div class="col-12 col-lg-6 d-flex flex-column flex-grow-1">
        <h4 class="mb-3">Vprašanje</h4>
        <div class="mb-3">
          <label for="questionTitle" class="form-label">Naslov</label>
          <input type="text" class="form-control" id="questionTitle" formControlName="title">
        </div>
        <div class="flex-grow-1 mb-5 mb-lg-0">
          <label for="questionDescription" class="form-label">Opis</label>
          <span id="questionDescriptionHelp" class="form-text ms-1">(opcijsko)</span>
          <textarea
            class="form-control"
            id="questionDescription"
            formControlName="description"
            rows="4"
            aria-describedby="questionDescriptionHelp"
            style="height: calc(100% - 33.188px) !important;"
          ></textarea>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <h4 class="mb-3">Odgovor</h4>
        <div class="mb-3">
          <label class="form-label">Tip odgovora</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="singleChoice"
              id="singleChoiceRadio"
              formControlName="type"
            >
            <label class="form-check-label" for="singleChoiceRadio">
              Odgovor z eno izbiro
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="multipleChoice"
              id="multipleChoiceRadio"
              formControlName="type"
            >
            <label class="form-check-label" for="multipleChoiceRadio">
              Odgovor z več izbirami
            </label>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Vsebina odgovora</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="text"
              id="textAnswerRadio"
              formControlName="content"
            >
            <label class="form-check-label" for="textAnswerRadio">
              Besedilo
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="image"
              id="imageAnswerRadio"
              formControlName="content"
            >
            <label class="form-check-label" for="imageAnswerRadio">
              Fotografija
            </label>
          </div>
        </div>
        <div>
          <label class="form-label">Možni odgovori</label>
          <ul class="list-group">
            <li
              *ngFor="let answer of possibleAnswersSorted; let i = index"
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <span>{{ answer.get("text")?.value }}</span>
              <div>
                <button type="button" class="btn px-1 py-0" (click)="editAnswer(i)">
                  <i class="bi bi-pencil"></i>
                </button>
                <button type="button" class="btn px-1 py-0" (click)="removeAnswer(i)">
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>
<!--              TODO: remove -->
<!--              <div-->
<!--                class="btn-group"-->
<!--                [attr.role]="'group' + answer.id"-->
<!--                aria-label="Radio toggle button group to choose either text or image answer"-->
<!--              >-->
<!--                <input-->
<!--                  [formControl]="getAnswerParamForm(i, 'isImage')"-->
<!--                  [id]="'btnRadioText' + answer.id"-->
<!--                  [name]="'btnRadio' + answer.id"-->
<!--                  [value]="false"-->
<!--                  autocomplete="off"-->
<!--                  class="btn-check"-->
<!--                  type="radio"-->
<!--                >-->
<!--                <label class="btn btn-outline-primary" [for]="'btnRadioText' + answer.id">-->
<!--                  <i class="bi bi-fonts"></i>-->
<!--                </label>-->

<!--                <input-->
<!--                  [formControl]="getAnswerParamForm(i, 'isImage')"-->
<!--                  [id]="'btnRadioImage' + answer.id"-->
<!--                  [name]="'btnRadio' + answer.id"-->
<!--                  [value]="true"-->
<!--                  autocomplete="off"-->
<!--                  class="btn-check"-->
<!--                  type="radio"-->
<!--                >-->
<!--                <label class="btn btn-outline-primary" [for]="'btnRadioImage' + answer.id">-->
<!--                  <i class="bi bi-image"></i>-->
<!--                </label>-->
<!--              </div>-->
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center new-answer" (click)="addAnswer()">
              <i class="bi bi-plus-lg text-muted"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap flex-grow-1 align-items-center gap-2">
      <button *ngIf="!!id" type="button" class="btn btn-danger" (click)="delete()">Izbriši</button>

      <div class="flex-grow-1"></div>

      <button *ngIf="!!id" type="button" class="btn px-1 py-0 fs-4" routerLink="./statistics">
        <i class="bi bi-bar-chart-line"></i>
      </button>
      <button *ngIf="!!id" type="button" class="btn px-1 py-0 fs-4" routerLink="./code">
        <i class="bi bi-qr-code"></i>
      </button>
      <button type="submit" class="btn btn-primary">{{ !!id ? 'Shrani' : 'Ustvari' }}</button>
    </div>
  </form>
</div>

<app-answer-edit-modal
  #answerEditModal
  [answerId]="selectedEditAnswerId"
  [answerType]="form.get('content')?.value"
  (deleteEvent)="removeAnswerById(selectedEditAnswerId)"
></app-answer-edit-modal>

<app-confirm-modal [modalConfig]="deleteModalConfig" #deleteModal></app-confirm-modal>
