.section:hover .btn-icon, .section.active .btn-icon {
  display: block !important;
}

.section-title, .section-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-scroll-container {
  height: 50vh;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .sidebar-scroll-container {
    height: calc(100vh - 56px);
  }
}
