<nav class="navbar navbar-expand-lg bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-family: 'Helvetica Neue', Arial, sans-serif">MGML Kviz</a>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Pozdravljeni, admin
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Odjava</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
